body {
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}
.container {
  width: 100%;
  max-width: 1800px;
  margin: 0px auto;
}
header,
footer {
  background-color: rgb(37, 150, 190);
  color: white;
  padding: 30px;
}
header {
  border: 0px;
  border-bottom: 4px solid rgb(37, 150, 190);
  border-radius: 15px;
}
footer {
  border: 0px;

  border-radius: 15px;
}
.navbar {
  display: flex;
}
.navbar > span {
  border: 0px;
  border-bottom: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 10px;
  padding: 20px;
  transition: all 0.5s;
}
.navbar > span:hover {
  background-color: rgb(21, 76, 121);
}
main section {
  overflow: hidden;
}
.content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.menue {
  grid-column: 0/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menue > span {
  border: 0px;
  border-bottom: 2px solid black;
  border-radius: 15px;
  transition: all 0.5s;
  text-align: center;
}
.menue > span:hover {
  border: 0px;
  border-bottom: 4px solid rgb(234, 182, 118);
  border-radius: 12px;
  background-color: rgba(189, 217, 221, 255);
  color: white;
  padding: 15px;
}
.matn {
  grid-column: 2/-1;
  padding: 15px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.dard {
  background-color: rgba(128, 114, 85, 255);
  padding: 30px 0px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}
.dard:hover {
  background-color: rgb(28, 16, 11);
  color: white;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 1.5em;
}
/*media querry*/
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    overflow: hidden;
  }
}
@media screen and (max-width: 580px) {
  body {
    width: 100%;
  }
  .menue {
    display: none;
  }
}
