@font-face {
  font-family: hanken;
  font-weight: 100 900;
  font-display: swap;
  src: url(../first-project/HankenGrotesk-VariableFont_wght.ttf);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: hanken;
}
.master {
  display: flex;
  width: 600px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 1px 0px 20px 2px rgb(0, 0, 0, 0.4);
}
.result {
  color: white;
  border-radius: 20px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 50%;
  padding: 20px;
}
.result-title {
  text-align: center;
  opacity: 0.7;
}
.great {
  text-align: center;
}
.score {
  padding: 50px;
  width: 74px;
  height: 74px;
  border-radius: 100%;
  box-shadow: inset 1px 1px 12px 0px hsla(256, 72%, 46%, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.big-score {
  font-weight: bold;
  font-size: 60px;
}
.summary {
  width: 50%;
  padding: 20px;
}
.scores-icon {
  display: flex;
}
.score-Reaction {
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 100%, 67%, 0.1);
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 15px;
  color: hsl(0, 100%, 67%);
}
.score-Memory {
  display: flex;
  justify-content: space-between;
  background-color: hsl(39, 100%, 56%, 0.1);
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 15px;
  color: hsl(39, 100%, 56%);
}
.score-Verbal {
  display: flex;
  justify-content: space-between;
  background-color: hsl(166, 100%, 37%, 0.1);
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 15px;
  color: hsl(166, 100%, 37%);
}
.score-Visual {
  display: flex;
  justify-content: space-between;
  background-color: hsl(234, 85%, 45%, 0.1);
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 15px;
  color: hsl(234, 85%, 45%);
}
.grey {
  color: rgba(87, 87, 87, 0.992);
}
.scores-icon img {
  margin-right: 5px;
}
.blacktext {
  font-weight: bold;
  color: black;
}
.text {
  opacity: 0.7;
}
.button {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  border: none !important;
  color: white;
  background-color: hsl(224, 30%, 27%);
  outline: none;
  width: 100%;
}
.button:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
@media (max-width: 760px) {
  .result {
    width: 100%;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px;
  }
  .summary {
    width: 80%;
    padding: 0px;
    text-align: center;
    margin-left: 40px;
  }

  .master {
    width: 100%;
    flex-direction: column;
    border-radius: 0px;
    overflow: hidden;
    padding: 0px;
  }
}
