@font-face {
  font-family: iran;
  src: url(./fonts/iran.ttf);
}
* {
  direction: rtl;
  font-family: iran;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: black !important;
  cursor: pointer;
}
/* navbar css     */
nav {
  border-top: 2px solid rgb(168, 167, 167);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 1em;
}
.nav-right > span {
  margin: 15px;
  font-size: 1.1em;
}
.nav-right > span:hover {
  border-bottom: 2px solid black;
}
.login {
  border: 2px solid black;
  padding: 8px;
  border-radius: 20px;
  font-size: 0.9em;
}
.login a i {
  margin: 0px 5px;
}
.nav-left :hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: rgb(255, 255, 255) !important;
}
/* slidebar css     */
.slider {
  position: relative;
}
.slides {
}
.item {
  display: none;
}
.item img {
  width: 100%;
  height: 500px !important;
}
.active {
  display: block !important;
  animation-name: fadeIn;
  animation-duration: 2s !important;
}
.button {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.button i {
  color: white;
  margin: 2px;
  cursor: pointer;
}
.button i:hover {
  color: #8c8c8c;
  opacity: 0.6;
}
